
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');


html {
    position: relative;
    min-height: 100%; 
}

body {
    margin: 0;
    padding: 0;
    background: #777;
    font-weight: 800;
    /* position: relative; */
    font-family: 'Work Sans', sans-serif;
}

/* ====== HEADER ===== */
header {
    background-color: #55d6aa;
    display: inline-block;
    width: 100%;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.5);
}

.container {
    width: 90%;
    margin: 0 7% 0 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container img {
    /* float: left; */
    /* align-self: flex-start; */
    width: 300px;
    height: 80px;
    color: #444;

    filter: grayscale(0%);
    -webkit-filter: grayscale(100%);
    opacity: .7;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    transition: 250ms;
}
.container img:hover{
    filter: grayscale(90%);
    
    opacity: .9;

    /* margin-top: -3px; */
    box-shadow: 0px 18px 22px -20px rgba(0,0,0,0.3);

}

/* ===== NAVIGATION ===== */
nav {
    /* float: right; */
   justify-content: flex-end;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-left: 50px;
    margin-right: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
    
    position: relative;
}

li a {
    text-decoration: none;
    color: #444;
    text-transform: uppercase;
    font-size: 0.88rem;
}

nav a:hover {
    color: #000;
}
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    width: 0%;
    margin-top: 4px;

    position: absolute;
    top: 0;
    left: 0;

    transition: all ease-in-out 170ms;
}

nav a:hover::before {
    width: 100%;
    margin-top: -2px;

}


/* ===== MAIN BLOCKS & CARDS ===== */

main {
    max-width: 100%;
}



/* ===== SECTION ===== */
.card-cont{
    text-align: center;
    display: block;
    min-width: 99vh;
    height: 35vh;
    margin: 150px 10px;
    /* justify-content: space-evenly; */

}
.card {
    display: inline-block;
    margin: 5px 50px;
    /* background-color: rgb(71, 168, 175); */
    background-color: #d65580b0;
    background-color: #182824;
    border-radius: .8em;
    width: 300px;
    height: 150px;
    overflow: hidden;
    word-wrap: break-word;
    box-shadow: -5px 18px 22px -5px rgba(0,0,0,0.3);
    cursor: pointer;
    vertical-align: middle;
}
.card p {
    padding: 0 30px;
    color: rgb(238, 219, 183);
    /* color: #182628; */
}

.card:first-child {
    font-size: 1.8em;
}
.card:nth-child(2) {
    font-size: 1.1em;
}
.card:nth-child(3) {
    font-size: 1em;
}

.card-cont .h2-h3 {
    margin: 100px auto 60px auto;
    font-size: 1.3rem;
    font-weight: bold;
    color: #222;
    /* color: whitesmoke; */
    border-top: 2px dotted #55d6aa;
    border-bottom: 2px dotted #55d6aa;
}
.h2-h3 h2 {
    text-transform: uppercase;
}


/* === INFO SECTION === */
.info-cont {
    display: block;
    margin: 50px 0;
    background-color: #784E48;
    text-align: center;
    min-width: 100%;
    min-height: 60vh;
}
.info-card {
    display: inline-block;
    width: 40%;
    margin: 150px 50px;
    /* border: 2px dashed wheat; */
    background-color: #55d6ab8e;
    color: #281A18;
    font-size: 1.3em;
    
    border-radius: .8em;
    box-shadow: 10px 2px 8px 5px rgba(0,0,0,0.2);
}








.under {
    text-align: center;
    padding-bottom: 30vh;
    background-color: #784E48;
}
.under img{
    width: auto;
    height: 130px;
}

footer {

    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #55d6aa;
    color: #444;

}



/* ====== ABOUT STYLING ===== */

.about-info, .pricing-info, .contact-info {
    text-align: center;
    margin: 100px;
    color: #222;
    margin-bottom: 30vh;

}