*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.header-container {
    width: 90%;
    justify-content: space-between;
    vertical-align: middle;
}


ul.breadcrumbs {
    /* background: #ddd; */
    list-style: none;
    padding: 10px 16px;
    margin: auto 0 auto 2em;
}

.breadcrumbs li {
    display: inline;
    margin: 0;
}
.breadcrumbs li+li::before {
    content: "/\00a0";
    padding: 20px;
    color: #444;

}

.breadcrumbs li a {
    text-decoration: none;
    color: #444;
}

.breadcrumbs li:hover a {
    color: black;
}

/* --- MAIN --- */

main#cat-page {
    display: flex;
    flex-direction: column;
    margin: 3em 4em 0 4em;
}

.cat-flex-item {
    margin: 0 2em;
    padding: 10px 2em;
    flex: auto auto 50px;
}

.cat-flex-item h3 {
    margin: none;
}

.cat-flex-item:nth-child(2) {
    align-self: center;
}


.cat-flex-item:nth-child(3) {
    align-self: flex-end;
}


@media only screen and (max-width: 610px) {
    .header-container {
        width: 99%;
        margin: 0;
    }

    .header-container ul.breadcrumbs {
        margin: auto auto;
    }

    .header-container a img {
        width: 270px;
        height: 72px;
    }

    .cat-flex-item, .cat-flex-item:nth-child(2), .cat-flex-item:nth-child(3) {
        align-self: center;
        margin: 0 0;
        padding: 20px 0.5em;
    }
}


@media only screen and (max-width: 510px) {
    main * {
        font-weight: 300;
    }

    main#cat-page {
        margin: 1em 0;
    }

    .header-container {
        width: 100%;
    }

    .header-container ul.breadcrumbs {
        order: 2;
        padding: 0 4em;
        margin: 1.5em auto .5em auto;
    }


}