main#pricing {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.pricing-table {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    margin: 3vh 2vw;
}

.pricing-table ul {
    list-style: none;
    background: rgba(240, 240, 240, 0.5);
    padding: 3vw;
    margin: 1.2vw 3vw;
    text-align: center;
    /* width: 30vw; */
    transition: all ease-in-out 250ms;
}

.pricing-table ul:hover {
    box-shadow: 0px 8px 12px 0 rgba(0, 0, 0, 0.3);
}

.pricing-table ul li {
    padding: 1.5em;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.pricing-table .column li:first-child {
    font-weight: bold;
    background: #333;
    color: white;
    letter-spacing: 0.2em;
    /* margin-bottom: 2vh; */
}

.pricing-table .column li:nth-child(2) {
    background: #ddd;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.pricing-table .column li:last-child {
    background: #ddd;
}

.pricing-table .column li a {
    list-style: none;
    text-decoration: none;
    color: white;
    background: #333;
    padding: 1em;
}


@media only screen and (max-width: 500px) {
    .pricing-table {
        grid-template-columns: repeat(1, 2fr);
    }
}