main#pricing {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.pricing-table {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    margin: 10vw 5vw;
}

.pricing-table ul {
    list-style: none;
    background: rgba(221, 221, 221, 0.5);
    padding: 5vw;
    margin: 3vw;
    text-align: center;
    /* width: 30vw; */
}

.pricing-table ul li {
    padding: 1em;
    border-bottom: 1px solid #999;
}

.pricing-table .column li:first-child {
    font-weight: bolder;
    background: #333;
    color: white;
    letter-spacing: 0.2em;
    margin-bottom: 2vh;
}

@media only screen and (max-width: 500px) {
    .pricing-table {
        grid-template-columns: repeat(1, 2fr);
    }
}